[submodule "external/openclaw"]
	path = external/openclaw
	url = https://github.com/KnoWhiz/openclaw.git
[submodule "external/harbor"]
	path = external/harbor
	url = https://github.com/KnoWhiz/harbor
